<h2>Make a transfer</h2>
<form id="new-transaction-form" [formGroup]="transactionForm">
  <div class="form-group">
    <label for="inputAccountId1">Account Id 1</label>
    <input type="number" class="form-control" formControlName="AccountId1" id="inputAccountId1" placeholder="Enter AccountId1">
  </div>
  <div class="form-group">
    <label for="inputAccountId2">Account Id 2</label>
    <input type="number" class="form-control" formControlName="AccountId2" id="inputAccountId2" placeholder="Enter AccountId2">
  </div>
  <div class="form-group">
    <label for="inputAmount">Amount</label>
    <input type="number" class="form-control" formControlName="Amount" id="inputAmount" placeholder="Enter Amount">
  </div>
  <button class="btn btn-primary" (click)="onSubmit()">Process transfer</button>
</form>    
<h2>Withdraw</h2>
<form id="new-transaction-form" [formGroup]="withdrawForm">
  <div class="form-group">
    <label for="inputAccountId">Account Id</label>
    <input type="number" class="form-control" formControlName="AccountId" id="inputAccountId" placeholder="Enter AccountId">
  </div>
  <div class="form-group">
    <label for="inputAmount">Amount</label>
    <input type="number" class="form-control" formControlName="Amount" id="inputAmount" placeholder="Enter Amount">
  </div>
  <button class="btn btn-primary" (click)="withdraw()">Process transfer</button>
</form>    
<h2>Deposit</h2>
<form id="new-transaction-form" [formGroup]="depositForm">
  <div class="form-group">
    <label for="inputAccountId">Account Id</label>
    <input type="number" class="form-control" formControlName="AccountId" id="inputAccountId" placeholder="Enter AccountId">
  </div>
  <div class="form-group">
    <label for="inputAmount">Amount</label>
    <input type="number" class="form-control" formControlName="Amount" id="inputAmount" placeholder="Enter Amount">
  </div>
  <button class="btn btn-primary" (click)="deposit()">Process transfer</button>
</form>   
<button class="btn btn-primary" (click)="return()">Return to accounts</button>